<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active">Product list</a>
      </li>
      
      <li class="nav-item">
          <a routerLink="campaigns" class="nav-link" routerLinkActive="active">Campaign List</a>
      </li>
      <li class="nav-item">
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add campaign</a>
      </li>
      <li class="nav-item">
        <span class="navbar-text">
           Your funds: 20000
        </span>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>Krzysztof Pala 2020, inspired by <a href="https://www.javaguides.net/">Java Guides</a> 
        <br/>Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </span>
    </div>
  </footer>