<h3>Update Campaign</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="campaign.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="name">Keywords</label>
        <input type="text" class="form-control" id="keywords" required [(ngModel)]="campaign.keywords" name="keywords">
      </div>
  
      <div class="form-group">
        <label for="name">Bid</label>
        <input type="number" class="form-control" id="emailId" required [(ngModel)]="campaign.bid" name="bid">
      </div>
  
      <div class="form-group">
          <label for="name">Fund</label>
          <input type="number" class="form-control" id="fund" required [(ngModel)]="campaign.fund" name="fund">
      </div>
  
      <div class="form-group">
          <label for="name">Status</label>
          <input type="text" class="form-control" id="status" required [(ngModel)]="campaign.status" name="status">
      </div>
  
      <div class="form-group">
          <label for="name">Town</label>
          <input type="text" class="form-control" id="town" required [(ngModel)]="campaign.town" name="town">
      </div>
  
      <div class="form-group">
          <label for="name">Radius</label>
          <input type="number" class="form-control" id="radius" required [(ngModel)]="campaign.radius" name="radius">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>