<h2>Campaign Details</h2> 

<hr/>
<div *ngIf="campaign">
  <div>
    <label><b>Id: </b></label> {{campaign.id}}
  </div>
  <div>
    <label><b>Name: </b></label> {{campaign.name}}
  </div>
  <div>
    <label><b>Keywords: </b></label> {{campaign.keywords}}
  </div>
  <div>
    <label><b>Bid: </b></label> {{campaign.bid}}
  </div>
  <div>
    <label><b>Fund: </b></label> {{campaign.fund}}
  </div>
  <div>
    <label><b>Status: </b></label> {{campaign.status}}
  </div>
  <div>
    <label><b>Town: </b></label> {{campaign.town}}
  </div>
  <div>
    <label><b>Radius: </b></label> {{campaign.radius}}
  </div>

</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>